body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

div.container {
  text-align: center;
}

ul {
  list-style-position: inside;
  text-align: center;
}

{
      font-family: sans-serif;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
